.u-ml-auto {
    margin-left: auto !important;
}

.u-text-center {
    text-align: center !important;
}

.u-space-between {
    display: flex !important;
    justify-content: space-between !important;
}