//primary
$color-white: #fff;
$color-yellow: #fcb72b;
$color-dark-navy: #495567;
//grey. Numbers indicate that these gray colors are hex's last two digits
$color-gray-aa: #939caa;
$color-gray-f4: #e5ecf4;
//secondary color
$color-snow-f9: #f2f5f9;
$color-light-yellow: #fff4df;
//border-radius
$border-radius: 50%;