.talent-careers {
    width: 100vw;
    background-color: rgba(47, 59, 89, 0.75);
    background-image: url(../../images/bg_careers.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    padding-top: 7.2rem;
    padding-bottom: 7.2rem;
    position: relative;
    .talent-circle {
        position: absolute;
        bottom: 10.5rem;
        right: -4rem;
        display: flex;
        .circle {
            width: 6.2rem;
            height: 6.2rem;
            border: 3px solid $color-white;
            border-radius: 50%;
            margin-right: 2.4rem;
            &:last-child {
                background-color: $color-white;
            }
        }
    }
}